.refund-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-left: 20px;
    margin-bottom: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;


    /* border: 2px solid red; */
}

.refund-info h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: 2px solid red; */
}

.refund-info h2 {
    margin-block: 20px;
    font-size: 22px;
    font-weight: bold;
    /* border: 2px solid red; */
}

.refund-info p {
    color: black;
    margin-bottom: 40px;
    /* border: 2px solid red; */
}