.boot-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.boot-type button {
    background: white;
    margin: 30px;
    margin-right: 10px;

    /* background-color: lightgray; */

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 0 solid white;
    border-radius: 5px;
}

.boot-type button h3 {
    font-family: "Futura";
    /* font-family: "Georgia" , sans-serif; */
    padding: 10px;
    z-index: 999;
    font-size: 25px;
    color: var(--color-light-grey);

    /* border: 5px solid white; */

}