/* banner-bottom */
.banner-bottom {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 0.226)),
        url('../../assets/zidane.jpg')
        no-repeat scroll bottom / cover;

    padding: 260px 0 260px;
    margin-top: 40px;
    margin-bottom: 40px;
}
