/* BANNER */
.banner-bottom {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 0.226)),
        url('../../assets/zidane.jpg')
        no-repeat scroll bottom / cover;
    padding: 110px 0 110px;
    margin-top: 50px;

    text-align: center;
}

.banner-head h2 {
    font-family: "Futura";
    color: #fff;
    font-size: 40px;
    /* letter-spacing: 5px; */
    line-height: 30px;
    margin: 20px;
}

@media (max-width: 400px) {

    .banner {
        max-height: 200px;
    }
    .banner-head h2 {
        font-size: 10px;
    }
}

@media (max-width: 575.98px) {
    .banner-section {
      padding: 70px 0 70px;
    }
}