/* BANNER */

.banner h2 {
    font-family: "Futura";
    color: white;
    z-index: 999;
    font-size: 45px;
    margin-bottom: -20px;
    margin-top: 0px;
}

.banner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 0.226)),
        url('../../assets/tonikroos2.png')
        no-repeat scroll bottom / cover;
    padding: 240px 0 240px;
    margin-top: 10px;
    margin-bottom: 40px;

    /* margin-inline: 20px; */

    text-align: center;
}

@media (max-width: 900px) {
}


@media (max-width: 575.98px) {
}
